.todos {
    padding-left: 1rem;
}
.todo {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.todo > * {
    padding-left: 1rem;
}
.todo__content {
    flex-grow: 1;
}